#settings-main {
    height: 100%;
    width: 100%;
    padding: 1;
}

#settings-title {
    margin-bottom: 2;
    text-style: bold;
}

.settings-card {
    width: 100%;
    height: auto;
    border: solid $primary;
    background: $surface;
    padding: 1;
    margin-bottom: 2;
}

.card-label {
    text-style: bold;
    color: $accent;
    margin-bottom: 1;
}

#theme-panel {
    margin-left: 1;
}

.card-buttons Button {
    margin-right: 2;
}

StatsSettingsModal {
    align: center middle;
    background: black 40%;
}

#save {
    background: green 60%;
}

#cancel {
    background: red 60%;
}

