Screen {
    background: #1a1a1a;
}

Log {
    height: 1fr;
    background: black;
    color: lightgreen;
}

#sshInput {
    dock: bottom;
}

MenuScreen {
    align: center middle;
    background: black 50%;
}

#main_menu {
    width: 50%;
    height: auto;
    max-height: 15;
    border: double $accent;
    background: $surface;
}